
body{
    font-family: sans-serif;
}
.container{
    margin-left: 10%;
    margin-right: 10%;
}

.common-form{
    text-align: center;
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 300px;
}
.form-input{
    height: 35px;
    margin-bottom: 20px;
    padding-left: 10px;
    border: 1px solid blueviolet;
    color: blueviolet;
}
